.img1 {
    margin: 4px;
    min-height: 20px;
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.img2 {
    padding-left: -50px;
    margin: 4px;
    min-height: 20px;
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}


