<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/m.jpg"><ion-img src="assets/img/m.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/i.jpg"><ion-img src="assets/img/i.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/c.jpg"><ion-img src="assets/img/c.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/l.jpg"><ion-img src="assets/img/l.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/j.jpg"><ion-img src="assets/img/j.jpg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/b.jpg"><ion-img src="assets/img/b.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/f.jpg"><ion-img src="assets/img/f.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/o.jpg"><ion-img src="assets/img/o.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/a.jpg"><ion-img src="assets/img/a.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/e.jpg"><ion-img src="assets/img/e.jpg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/k.jpg"><ion-img src="assets/img/k.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/h.jpeg"><ion-img src="assets/img/h.jpeg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/n.jpg"><ion-img src="assets/img/n.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/d.jpg"><ion-img src="assets/img/d.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/g.jpeg"><ion-img src="assets/img/g.jpeg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
