<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card"> 
    <div class="header">
    
      <div class="avatar">
        <img src="assets/avatar.jpg" alt="">
      </div>
     
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name">Romner R. Dula</h3>
      
      
    </div>
    <ion-button color="tertiary"> + Create a Story</ion-button>
    <ion-button color="medium"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button color="medium">... </ion-button>
    <br>
    <ion-button color="medium-shade">Studied at Eastern Visayas State University Carigara Campus</ion-button>
    <br>
    <ion-button  color="light-contrast">Went to Granja-Kalinawan National High School - Main Campus</ion-button>
    <br>
    <ion-button color="light-contrast">From Jaro,Leyte,Philippines</ion-button>
    <br>
    <ion-button color="light-contrast">Birthday May 05, 2000</ion-button>
    <br>
    <ion-button color="light-contrast">Religion Roman Catholic</ion-button>
    <br>
    <ion-button color="light-contrast">Status Married</ion-button>
    <br>
    <ion-button  color="light-contrast">See More About Yourself</ion-button>
  </div>
  
      
</ion-content>





